body {
  color: #333;
  background-color: #fff;
  /* font-family: Inter, sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  position: static;
}

.page-padding{
    z-index: 2;
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
}

.bg-gray {
  --bs-bg-opacity: 1;
  background-color: rgb(235, 237, 250);
}

.navbar-gray {
position: sticky;
top: 0;
}

.na-menu{
    margin-left: 25%;
    flex: none;
    order: 0;
    align-self: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    float: right;
    position: relative;
    border-radius: 0.25rem;
    font-weight: 500;
}

.nav-item  {
  border-radius: 0.25rem;
  font-weight: 500;
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-cta-menu-wrapper {
  flex: 0 auto;
  align-self: auto;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.div-block-112 {
  margin-right: 20px;
}

.button-size-large.button-style-graadient.cb-bta-top-button {
  background-image: linear-gradient(to right, #7c48e3, #6000e6 54%, #4896e3);
  padding: 18px 25px;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1;
}

.button-style-graadient {
  color: #fff;
  background-image: linear-gradient(313deg, #7c48e3, #6000e6 54%, #4896e3);
}

.button-size-large {
  border-radius: 3rem;
  padding: 1.3rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.navbar_menu-button {
  padding: 1rem;
}

.w-nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.navbar_menu-icon {
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

[class^="w-icon-"], [class*=" w-icon-"] {
  /* speak: none; */
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: webflow-icons !important;
}

.navbar-nav.center .navbar-inner {
  text-align: center;
}

.navbar-nav.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:-6px;
}

.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 

/*.........category portfolio filter..........*/

.category {
  padding: 60px 0px 30px 0px;
}

.heading-large {
  margin-bottom: 60px;
  letter-spacing: -1px;
  object-fit: fill;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.category-title {
  color: #000;
  margin-top: 10px;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #fff !important;
  border: 1px solid #6000e6 !important;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(100, 100, 100, .2);
}

.category-image-box {
  width: 58px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-align-center {
  z-index: 20;
  text-align: center;
  display: block;
  position: relative;
}

/*--------------------------------------------------------------
# Category Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 50px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 20px 15px;
  margin-bottom: 5px;
  color:  #fff;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background-color: #fff;
  border: 1px solid #6000e6;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(100, 100, 100, .2);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 95%;
    border-radius: 3%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #78d9cd;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.text-19 {
  font-size: 1.7em;
  font-weight: 600;
}

.text-18 {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -10px;
}

.text-17{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5;
}

.button-size-small.button-style-graadient.btn-very-small {
  padding: 0.5rem 1.2rem;
  font-size: .8rem;
  line-height: 1.3;
  margin-top: 4px;
}

.button-style-graadient {
    color: #fff;
    background-image: linear-gradient(313deg, #7c48e3, #6000e6 54%, #4896e3);
}

.w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 3rem;
    padding: 12px 15px;
    text-decoration: none;
    display: inline-block;
}

a {
  color: #5912c5;
  font-weight: 600;
  text-decoration: none;
}

.div-block-109 {
  position: relative;
  top: 40px;
}

.div-block-110 {
  width: auto;
  background-color: #6000e6;
  background-image: linear-gradient(to right, #6000e6 75%, rgba(0, 0, 0, 0));
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 20px;
  display: flex;
  position: absolute;
}

.text-block-19 {
  color: #fff;
  font-size: .8rem;
}



/*============== TESTIMONIALS SECTION =========*/
.client {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgb(246 247 249 / 35%);
}
/*-------- Carousel ----------*/
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 0px;
  padding: 0px;
}
.carousel .item {
  color: #ffffff;
  font-size: 14px;
    text-align: center;
  overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carousel .testimonial {
  padding: 4%;
  color: #000000;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.carousel-inner {
    text-align: center;
}

.carousel-title{
  margin: 8px;
  color: #000000;
}

.company-name{
  color: #7432e4;
}

.carousel .overview { 
    font-size: 18px;
    margin-bottom: 5px;
}

.carousel .overview b {
  color: #ffffff;
}

.carousel .carousel-control {
  width: 0px;
    top: 35%;
    opacity: 1.5;
  background: none;
}
.carousel-control i {
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    display: inline-block;
    color: #ffffff;
    top:0%;
    width: 35px;
    border-radius: 55%;
    background-image: linear-gradient(to right, #7c48e3, #6000e6 54%, #4896e3);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li { 
  background: #ffffff;
  border-color: transparent;
  box-shadow: inset 0 2px 1px #fff;
}
.carousel-indicators li.active {  
  background: #ffffff;   
  box-shadow: inset 0 2px 1px #fff;
}



/*.........Floating button..........*/

.menu {
  filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background-image: linear-gradient(to right, #7c48e3, #6000e6 54%, #4896e3);
  border-radius: 100%;
  width: 55px;
  height: 55px;
  margin-left: -50px;
  position: absolute;
  top: 10px;
  color: white;
  text-align: center;
  line-height: 15px;
  padding-top: 5px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu-open {
  display: none;
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 97%;
  /* margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px; */
  width: auto;
  height: 150px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
}

.menu-item i{
    font-size: 30px;
    padding-top: 6px;
}
.menu-item:hover {
  background-image: linear-gradient(to right, #7c48e3, #6000e6 54%, #4896e3);
  color: #ffffff;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(-65px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(-130px, 0, 0);
}

.footer p {
  text-align: center;
  padding: 30px 0px;
  color: gray;
  font-size: .75rem;
}
